.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.sidenav-logo {
  width: 200px;
  margin: 25px;
}
.sidenavbuttons {
  display: flex;
  flex-direction: column;
}
